@model Smartsheetsproject.Models.NiftiModel


@{
    ViewData["Title"] = "Nifti Details";
}





<div class="row">
    <div class="col-12">
        <div class="flex">
            <h2 class="header-title">@Html.DisplayFor(model => model.projectName)</h2>
        </div>

    </div>

    <div class="col-12 col-md-6 details">
        <div class="row">
            <dt class="col-sm-3">Date Requested</dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.dateRequested)
            </dd>
        </div>

        <div class="row">
            <dt class="col-sm-3">Type</dt>
            <dd class="col-sm-9"> @Html.DisplayFor(model => model.projectType)</dd>


        </div>
        <div class="row">
            <dt class="col-sm-3">Brief - Live Dates</dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.briefDate) -
                @Html.DisplayFor(model => model.liveDate)
            </dd>
        </div>




    </div>


    <div class="col-12 col-md-6 details-col-2">
        <div class="row">
            <dt class="col-sm-3">Client</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.clientStakeholder)</dd>
        </div>

        <div class="row">
            <dt class="col-sm-3">Client Budget</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.clientBudget)</dd>
        </div>



    </div>

</div>

<hr />
<div class="row">

    <div class="col-12 col-md-6 details">

        <td>Project Details </td>
        <td>
            @if (Model.projectDetails != null)
            {
                <textarea readonly class="form-control">@Html.DisplayFor(model => model.projectDetails)
                                
                                
                                </textarea>
            }
            else
            {
                <textarea readonly class="form-control" role="alert">No Details provided.</textarea>
            }


        </td>

    </div>
    <div class="col-12 col-md-6 details-col-2">



        <div class="row">
            <dt class="col-sm-3">Brief Link</dt>
            @if (Model.briefLink != null)
            {
                <dd class="col-sm-9"><a href="@Model.briefLink">@Html.DisplayFor(model => model.briefLink)</a></dd>
            }
            else
            {
                <dd class="col-sm-9 alert alert-warning" role="alert">No Box Folder link provided.</dd>
            }

            <dt class="col-sm-3">Jira Epic</dt>
            @if (Model.jira != null)
            {
                <dd class="col-sm-9"><a href="@Model.jira"> @Html.DisplayFor(model => model.jira)</a></dd>
            }
            else
            {
                <dd class="col-sm-9 alert alert-warning" role="alert">No Jira link provided.</dd>
            }

        </div>
        </div>
    </div>



    <hr />
    <div class="col-12 col-md-6 details">

        <div class="row">
            <a asp-action="List" class="btn back">
                <i class="bi bi-arrow-bar-left"></i>
                <span>Back to List</span>
            </a>
        </div>
    </div>
