@model Smartsheetsproject.Models.NiftiModel


@{
    ViewData["Title"] = "Nifti Details";
}





<div class="row">

    <div class="col-12">
        <div class="flex">
            <h2 class="header-title">@Html.DisplayFor(model => model.projectName)</h2>
        </div>
        <hr />
    </div>


    <div class="col-12 col-md-6 details">

        <dl class="row">
            <dt class="col-sm-3">Client</dt>
            <dd class="col-sm-9"> @Html.DisplayFor(model => model.client)</dd>
        </dl>

        <dl class="row">
            <dt class="col-sm-3">Intake Type</dt>
            <dd class="col-sm-9"> @Html.DisplayFor(model => model.intakeType)</dd>
        </dl>

        <dl class="row">
            <dt class="col-sm-3">Project Type</dt>
            <dd class="col-sm-9"> @Html.DisplayFor(model => model.projectType)</dd>
        </dl>

        <dl class="row">
            <dt class="col-sm-3">Brief - Live</dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.briefDate) -
                @Html.DisplayFor(model => model.liveDate)
            </dd>
        </dl>

    </div>





    <div class="col-12 col-md-6 details-col-2">
        <dl class="row">
            <dt class="col-sm-4">Date Requested</dt>
            <dd class="col-sm-8">@Html.DisplayFor(model => model.dateRequested)</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-4">Client Lead</dt>
            <dd class="col-sm-8">@Html.DisplayFor(model => model.clientStakeholder)</dd>
        </dl>

        <dl class="row">
            <dt class="col-sm-4">Client Group</dt>
            <dd class="col-sm-8">@Html.DisplayFor(model => model.clientGroup)</dd>
        </dl>

        <dl class="row">
            <dt class="col-sm-4">Client Budget</dt>
            <dd class="col-sm-8">@Html.DisplayFor(model => model.clientBudget)</dd>
        </dl>
    </div>

</div>

<hr />
<div class="row">

    <div class="col-12 col-md-6 details">

        <dl class="row">
            <dt class="col-sm-2">Details
            <dt>
            <dd class="col-sm-10">
                @if (Model.projectDetails != null)
                {
                    <textarea readonly class="form-control">@Html.DisplayFor(model => model.projectDetails)</textarea>

                }
                else
                {
                    <textarea readonly class="form-control" role="alert">No Details provided.</textarea>
                }
            </dd>

        </dl>
    </div>
    <div class="col-12 col-md-6 details-col-2">
        <dl class="row">
            <dt class="col-sm-2">Links</dt>

            <dd class="col-sm-9 project-links">
                <div class="links">
                    <span>
                        <a href="@Model.briefLink">Project Brief</a>
                    </span>

                    <span>
                        @if (Model.jira != null)
                        {
                            <a href="@Model.jira"> Jira Epic</a>
                        }
                        else
                        {
                            <dd class="col-sm-8 alert alert-warning" role="alert">No Jira Epic link provided.</dd>
                        }
                     </span>
                </div>
                </dd>

                </dl>
            </div>
        </div>



    <hr />
    <div class="col-12 col-md-6 details">

        <div class="row">
            <a asp-action="List" class="btn back">
                <i class="bi bi-arrow-bar-left"></i>
                <span>Back to List</span>
            </a>
        </div>
    </div>
