    @model Smartsheetsproject.Models.NiftiModel


@{
    ViewData["Title"] = "Nifti Details";
}



<div class="row">

    <div class="col-12">
        <div class="flex">
            @if (Model.intakeType == "Fast Track")
            {
                <h4 class="fast-track"> >> </h4>
            }

            <h3 class="header-title"> @Html.DisplayFor(model => model.projectName) </h3>
            @if (Model.intakeType == "Fast Track")
            {
                <h4 class="fast-track">  ! </h4>
            }
            <p class="project-type">(@Html.DisplayFor(model => model.intakeType))</p>
        </div>

        <hr />
    </div>


    <div class="col-12 col-md-6 details">

        <dl class="row">
            <dt class="col-sm-4">Requestor</dt>
            <dd class="col-sm-8"><a href="mailto:  @Model.requestorEmail">@Html.DisplayFor(model => model.requestorName)</a></dd>
        </dl>
        @*<dl class="row">
            <dt class="col-sm-4">Requestor Email</dt>
            <dd class="col-sm-8">@Html.DisplayFor(model => model.requestorEmail)</a></dd>
        </dl>*@

        <dl class="row">
            <dt class="col-sm-4">Client</dt>
            <dd class="col-sm-8"> @Html.DisplayFor(model => model.client)</dd>
        </dl>

        <dl class="row">
            <dt class="col-sm-4">Tenrox Code</dt>
            @if (Model.tenrox != null)
            {
                <dd class="col-sm-8"> @Html.DisplayFor(model => model.tenrox)</dd>
            }
            else
            {
                <dd class="col-sm-8"><em>No tenrox provided.</em></dd>
            }
        </dl>

        <dl class="row">
            <dt class="col-sm-4">Category</dt>
            <dd class="col-sm-7 teams">
                @Html.DisplayFor(model => model.teamCategory)
            </dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-4">Type</dt>
            <dd class="col-sm-8"> @Html.DisplayFor(model => model.projectType)</dd>
        </dl>


        <dl class="row">
            <dt class="col-sm-4">Brief - Live</dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.briefDate) -
                @Html.DisplayFor(model => model.liveDate)
            </dd>
        </dl>

    </div>

    <div class="col-12 col-md-6 details-col-2">

        <dl class="row">
            <dt class="col-sm-4">Date Requested</dt>
            <dd class="col-sm-8">@Html.DisplayFor(model => model.dateRequested)</dd>
        </dl>

        <dl class="row">
            <dt class="col-sm-4">Priority</dt>
            <dd class="col-sm-8">@Html.DisplayFor(model => model.priority)</dd>
        </dl>

        <dl class="row">
            <dt class="col-sm-4">Size/ Level of Effort</dt>
            <dd class="col-sm-8 flex"><p style="margin: 0;">@Html.DisplayFor(model => model.size)</span>
            </dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-4">In / OOS </dt>
            <dd class="col-sm-8">@Html.DisplayFor(model => model.inOos)</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-4">Client Lead</dt>
            <dd class="col-sm-8">@Html.DisplayFor(model => model.clientStakeholder)</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-4">Client Group</dt>
            <dd class="col-sm-8">@Html.DisplayFor(model => model.clientGroup)</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-4">Client Budget</dt>
            <dd class="col-sm-8">@Html.DisplayFor(model => model.clientBudget)</dd>
        </dl>

    </div>

</div>

<hr />
<div class="row">

    <div class="col-sm-12">

            <h4>Production</h4>

    </div>
    
    <div class="col-12 col-md-6 details">



        <dl class="row">


            <dt class="col-sm-2">PM<dt>
            <dd class="col-sm-10">
                @if (Model.pm != null)
                {
                    <span>@Html.DisplayFor(model => model.pm)</span>

                }
                else
                {
                <span><em>PM not Specified.</em></span>
                }
            </dd>
        </dl>
        <dl class="row">


            <dt class="col-sm-2">Details
            <dt>
            <dd class="col-sm-10">
                @if (Model.projectDetails != null)
                {
                    <textarea readonly class="form-control details">@Html.DisplayFor(model => model.projectDetails)</textarea>

                }
                else
                {
                    <textarea readonly class="form-control" role="alert">No Details provided.</textarea>
                }
            </dd>
        </dl>

    </div>


    <div class="col-12 col-md-6 details">
        <dl class="row">


            <dt class="col-sm-2">AM
            <dt>
            <dd class="col-sm-10">
                @if (Model.am != null)
                {
                    <span>@Html.DisplayFor(model => model.am)</span>

                }
                else
                {
                    <span><em>AM not Specified.</em></span>
                }
            </dd>
        </dl>
        <dl class="row">

            <dt class="col-sm-2">Links</dt>

            <dd class="col-sm-9 project-links">
                <div class="links">
                    <span>
                        <a href="@Model.briefLink" target="_blank">Project Brief</a>
                    </span>

                    <span>
                        @if (Model.jira != null)
                        {
                            <a href="@Model.jira" target="_blank"> Jira Epic</a>
                        }
                        else
                        {
                            <p><i>No Jira link provided.</i></p>
                        }
                    </span>
                </div>
            </dd>

        </dl>
    </div>
</div>



<hr />
<div class="col-12 col-md-6 details">

    <div class="row">
        <a asp-action="List" class="btn back">
            <i class="bi bi-arrow-bar-left"></i>
            <span>Back to List</span>
        </a>
    </div>
</div>
