@model Smartsheetsproject.Models.NiftiModel


@{
    ViewData["Title"] = "Nifti Details";
}





<div class="row">
    <div class="col-12">
        <div class="flex">
            <h2 class="header-title">@Html.DisplayFor(model => model.projectName)</h2>
        </div>

    </div>

    <div class="col-12 col-md-6 details">
        <div class="row">
            <dt class="col-sm-3">Date Requested</dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.dateRequested)
            </dd>
        </div>

        <div class="row">
            <dt class="col-sm-3">Type</dt>
            <dd class="col-sm-9"> @Html.DisplayFor(model => model.projectType)</dd>


        </div>
        <div class="row">
            <dt class="col-sm-3">Brief - Live Dates</dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.briefDate) -
                @Html.DisplayFor(model => model.liveDate)
            </dd>
        </div>




    </div>


    <div class="col-12 col-md-6 details-col-2">
        <div class="row">
            <dt class="col-sm-3">Client</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.clientStakeholder)</dd>
        </div>

        <div class="row">
            <dt class="col-sm-3">Client Budget</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.clientBudget)</dd>
        </div>



    </div>

</div>

<hr />
<div class="row">

    <div class="col-12 col-md-6 details">

        <dt>Project Details <dt>
        <dd>
            @if (Model.projectDetails != null)
            {
                <textarea readonly class="form-control">@Html.DisplayFor(model => model.projectDetails)</textarea>
            }
            else
            {
                <textarea readonly class="form-control" role="alert">No Details provided.</textarea>
            }


        </dd>

    </div>
    <div class="col-12 col-md-6 details-col-2">

        <dt>Project Links</dt>
     
        <div class="project-links">
            <div class="row">
           
                <dd class="col-sm-6"><a href="@Model.briefLink">Project Brief</a></dd>
          

                <dd class="col-sm-6"> 
                    @if (Model.jira != null)
                    {
                        <dd class="col-sm-9"><a href="@Model.jira"> Jira Epic</a></dd>
                    }
                    else
                    {
                        <dd class="col-sm-9 alert alert-warning" role="alert">No Jira Epic link provided.</dd>
                    }
                    </dd>
           
                     </div>
                </div>
        </div>
    </div>



    <hr />
    <div class="col-12 col-md-6 details">

        <div class="row">
            <a asp-action="List" class="btn back">
                <i class="bi bi-arrow-bar-left"></i>
                <span>Back to List</span>
            </a>
        </div>
    </div>
