@model SmartsheetsPIF.Models.NiftiModel

@{
    ViewData["Title"] = "Nifti Details";
}



<div class="row">
    <div class="col-12">
        <h2 class="header-title">@Html.DisplayFor(model => model.projectName)</h2>


        <hr />


        <div class="row" style="margin: auto">





            <div class="col-12 col-md-6 details">
                <div class="row">
                    <dt class="col-sm-3">Date Requested</dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.dateRequested)
                    </dd>
                </div>

                <div class="row">
                    <dt class="col-sm-3">Type</dt>
                    <dd class="col-sm-9"> @Html.DisplayFor(model => model.type)</dd>


                </div>
                <div class="row">
                    <dt class="col-sm-3">Brief - Live Dates</dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.briefDate) -
                        @Html.DisplayFor(model => model.liveDate)
                    </dd>
                </div>
            </div>


            <div class="col-12 col-md-6 details-col-2">
                <div class="row">
                    <dt class="col-sm-3">Client</dt>
                    <dd class="col-sm-9">@Html.DisplayFor(model => model.clientStakeholder)</dd>
                </div>
       
                <div class="row">
                    <dt class="col-sm-3">Client Budget</dt>
                    <dd class="col-sm-9">@Html.DisplayFor(model => model.clientBudget)</dd>
                </div>

            </div>
        </div>

    </div>
</div>