@model Smartsheetsproject.Models.NiftiModel

@{
    ViewData["Title"] = "Change Request";
}


<div class="row">

    <div class="col-12">


        @if (Model.projectName != null)

        {
            <h5 class="header-title">Project - @Html.DisplayFor(m => m.projectName)</h5>
        }

        @using (Html.BeginForm("Edit", "Nifti", FormMethod.Post, new { @class = "form-group row" }))
        {
    <div class="col-12 col-md-6">
        @Html.HiddenFor(m => m.pipelineId)

        <div class="form-group">
            <label asp-for="projectName" class="control-label">Project Name</label>
            @Html.TextBoxFor(m => m.projectName, new { @class = "form-control" })
            <span asp-validation-for="projectName" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="intakeType" class="control-label">Intake Type</label>

            @Html.DropDownListFor(m => m.intakeType, Model.intake_options, new { @class = "form-control" })
            @Html.HiddenFor(m => m.intakeType)
            @Html.HiddenFor(m => m.intake_options)
            <span asp-validation-for="intakeType" class="text-danger"></span>
        </div>

        <div class="form-group">
            <div class="form-group">
                <label asp-for="projectDetails" class="control-label">Project Details</label>
                @Html.TextAreaFor(m => m.projectDetails, new { @class = "form-control" })
                <span asp-validation-for="projectDetails" class="text-danger"></span>
            </div>
        </div>


        <div class="form-group">
            <label asp-for="SelectedCategory" class="control-label">Category Name</label>
            @Html.ListBoxFor(m => m.SelectedCategory, new MultiSelectList(Model.CategoryList, "Value", "Text", Model.SelectedCategory), new { @class = " form-control chosen-select" })
            @Html.HiddenFor(m => m.SelectedCategory)
            @Html.HiddenFor(m => m.CategoryList)
        </div>
        @*
         <div class="form-group">

            <label asp-for="projectName" class="control-label">Project Name</label>
            @Html.TextBoxFor(m => m.liveDate, new { @class = "form-control" })
            <span asp-validation-for="projectName" class="text-danger"></span>
        </div>
            <div class="form-group">

            <label asp-for="clientBudget" class="control-label">Client Budget</label>
            @Html.TextBoxFor(m => m.clientBudget, new { @class = "form-control" })
            <span asp-validation-for="clientBudget" class="text-danger"></span>
        </div>
        *@
        <hr />
        <div class="form-group">
            <input type="submit" asp-action="Edit" value="Save" class="float-left save-changes" />
        </div>
    </div>



    <div class="col-12 col-md-6">


        <div class="form-group project-dates">
            <label asp-for="am" class="control-label">Account Manager</label>
            @Html.TextBoxFor(m => m.am, new { @class = "form-control" })
            <span asp-validation-for="am" class="text-danger"></span>
        </div>
        <div class="form-group project-dates">
            <label asp-for="pm" class="control-label">Project Manager</label>
            @Html.TextBoxFor(m => m.pm, new { @class = "form-control" })
            <span asp-validation-for="pm" class="text-danger"></span>
        </div>

        <hr />
        <div class="form-group project-dates">
            <label asp-for="jira" class="control-label">Jira</label>
            @Html.TextBoxFor(m => m.jira, new { @class = "form-control" })
            <span asp-validation-for="jira" class="text-danger"></span>
        </div>

    </div>
           
            
        }
        <div class="back">
            <a asp-action="List" class="btn back">
                <i class="bi bi-arrow-bar-left"></i>
                <span>Back to List</span>
            </a>

        </div>
    </div>

