@model IEnumerable<Smartsheetsproject.Models.NiftiModel>

@{
    ViewData["Title"] = "Nifti Pipeline";
}



<div class="row">
    <div class="col-12">
        @{
            if (TempData["Result"] != null)
            {
                if (TempData["Result"].Equals("Success"))
                {
                    <div class="alert alert-success alert-dismissible fade show spacing" role="alert">
                        Your changes have been saved successfully.
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                }
                else if (TempData["Result"].Equals("Failed"))
                {
                    <div class="alert alert-warning alert-dismissible fade show spacing" role="alert">
                        Oh Snap! An error has ocurred, please try again.
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                }
            }
        }
    </div>
</div>

<div class="row">
    <div class="col-12">
        <h2 class="header-title">Nifti Pipeline(Stage 1)</h2>
        <div id="table-wrapper">
            <div id="table-scroll">
                <table class="table table-striped" style="overflow: auto; height:1000">
                    <thead class="project-list-header">
                        <tr>
                            <th class="project-col">
                                Project
                            </th>
                            <th id="intake-type">
                                Type
                            </th>
                            <th>
                                Client
                            </th>

                            <th id="client-group">
                                Client Group
                            </th>
                            <th id="type">
                                Project Type
                            </th>
                            <th>
                                Edit
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var data in Model)
                        {
                            <tr>
                                <td class="project-col">
                                    <a class="clickable-row" href="@Url.Action("Details", "Nifti", new { id = data.pipelineId  } )">
                                        @Html.DisplayFor(modelItem => data.projectName)
                                    </a>
                                </td>

                                <td id="intake-type">
                                    @Html.DisplayFor(modelItem => data.intakeType)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => data.client)
                                </td>

                                <td id="client-group">
                                    @Html.DisplayFor(modelItem => data.clientGroup)
                                </td>

                                <td id="type">
                                    @Html.DisplayFor(modelItem => data.projectType)
                                </td>
                                <td>
                                    <a href="@Url.Action("Edit", "Nifti",new { id = data.pipelineId } )">
                                        edit
                                    </a>
                                </td>

                            </tr>
                        }



                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

