@model IEnumerable<Smartsheetsproject.Models.NiftiModel>

@{
    ViewData["Title"] = "Nifti Pipeline(Stage 1)";
}




<div class="row">
    <div class="col-12">
        @{
            if (TempData["Result"] != null)
            {
                if (TempData["Result"].Equals("Success"))
                {
                    <div class="alert alert-success alert-dismissible fade show spacing" role="alert">
                        Your changes have been saved successfully.
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                }
                else if (TempData["Result"].Equals("Failed"))
                {
                    <div class="alert alert-warning alert-dismissible fade show spacing" role="alert">
                        Oh Snap! An error has ocurred, please try again.
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                }
            }
        }
    </div>
</div>

<div class="row">
    <div class="col-12">
        <h2 class="header-title">Nifti Pipeline(Stage 1)</h2>
        <table class="table table-striped">
            <thead class="project-list-header">
                <tr>

                    <th class="project-col">
                        Project
                    </th>

                    <th>
                        Intake Type
                    </th>

                    <th>
                        Date Submitted
                    </th>
                    <th>
                        Type
                    </th>
                    <th>
                        Client Group
                    </th>
                    <th>
                        Edit
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var data in Model)
                {
                <tr>
                    <td class="project-col">
                        <a class="clickable-row" href="@Url.Action("Details", "Nifti", new { id = data.pipelineId  } )">
                            @Html.DisplayFor(modelItem => data.projectName)
                        </a>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => data.intakeType)
                    </td>

                    <td id="startDate">
                        @Html.DisplayFor(modelItem => data.dateRequested)
                    </td>

                    <td id="type">
                        @Html.DisplayFor(modelItem => data.projectType)
                    </td>

                    <td id="client-group">
                        @Html.DisplayFor(modelItem => data.clientGroup)
                    </td>
                    <td>
                        <a href="@Url.Action("Edit", "Nifti",new { id = data.pipelineId } )">
                            edit
                        </a>
                    </td>

                </tr>
                } 



            </tbody>
        </table>
    </div>
</div>


