@model IEnumerable<SmartsheetsPIF.Models.DisplayModel>

@{
    ViewData["Title"] = "Display Pipeline";
}

<div class="row">
    <div class="col-12">
        @{
            if (TempData["Result"] != null)
            {
                if (TempData["Result"].Equals("Success"))
                {
                <div class="alert alert-success alert-dismissible fade show spacing" role="alert">
                    Your changes have been saved successfully.
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                }else if (TempData["Result"].Equals("Failed"))
                {
                <div class="alert alert-warning alert-dismissible fade show spacing" role="alert">
                    Oh Snap! An error has ocurred, please try again.
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                }
            }
        }
    </div>
</div>

<div class="row">
    <div class="col-12">
        <h2 class="header-title">Display Pipeline</h2>
        <table class="table table-striped">
            <thead class="pif-list-header">
                <tr>
                    <th>
                        LOB
                    </th>
                    <th>
                        Project
                    </th>
                    <th>
                        Team
                    </th>
                    <th>
                        Status
                    </th>
                    <th>
                        Start
                    </th>
                    <th>
                        Ship
                    </th>

                    <th>
                        Actions
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.lob)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.projectName)
                        </td>
                        <td>

                            @Html.DisplayFor(modelItem => item.team)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.status)
                        </td>
                        <td id="startDate">@Html.DisplayFor(modelItem => item.startDate)
                        </td>
                        <td id="endDate">@Html.DisplayFor(modelItem => item.endDate)</td>

                        <td class="action-buttons">
                            @* @Html.ActionLink("Edit", "Edit", new { id = item.pif_Id }, new { @class = "button" })*@
                            <a href="@Url.Action("Edit", "Display",new { id = item.pif_Id } )" class="btn btn-warning">
                                <i class="bi bi-pencil-fill"></i>
                            </a>

                            <a href="@Url.Action("Details", "Display",new { id = item.pif_Id } )" class="btn btn-primary">
                                <i class="bi bi-card-list"></i>
                            </a>
                            @* @Html.ActionLink("Details", "Details", new { id = item.pif_Id }, new { @class = "button" })*@
                            @*@Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })*@
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

