@model SmartsheetsPIF.Models.PDSModel

@{
    ViewData["Title"] = "Project Details";
}

<div class="row">
    <div class="col-12">
        <h2 class="header-title">@Html.DisplayFor(model => model.projectName) Details</h2>
        <hr />

    </div>
</div>
<div class="row" style="margin: auto">
    <div class="col-12 col-md-6 details">
        <div class="row">
            <dt class="col-sm-3">Project</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.projectName)</dd>
        </div>
        <div class="row">
            <dt class="col-sm-3">LOB</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.lob)</dd>
        </div>
        <div class="row">
            <dt class="col-sm-3">Tenrox</dt>
            @if (Model.tenroxCode != null)
            {
                <dd class="col-sm-9">@Html.DisplayFor(model => model.tenroxCode)</dd>
            }
            else
            {
                <dd class="alert alert-warning" role="alert">No Tenrox Code Provided.</dd>
            }
        </div>
        <div class="row">
            <dt class="col-sm-3">Status</dt>


            @if (Model.status != null)
            {
                <dd class="col-sm-9">@Html.DisplayFor(model => model.status)</dd>
            }
            else
            {
                <dd class="alert alert-warning" role="alert">Status unavailable</dd>
            }

        </div>
        <div class="row">
            <dt class="col-sm-3">Timing</dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.startDate) -
                @Html.DisplayFor(model => model.endDate)
            </dd>
        </div>
    </div>
    <div class="col-12 col-md-6 details-col-2">
        <div class="row">
            <dt class="col-sm-3">PM</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.pm)</dd>
        </div>
        <div class="row">
            <dt class="col-sm-3">Creative</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.creativeLead)</dd>
        </div>

        <div class="row">
            <dt class="col-sm-3">Designer</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.assignedTo)</dd>
        </div>
        <div class="row">
            <dt class="col-sm-3">Type of Work</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.typeOfWork)</dd>
        </div>

    </div>
    <div class="wbs-section">
        <hr />
        <h4>WBS</h4>
        <div class="wbs">
            @if (Model.wbs_link != null)
            {
                <IFRAME WIDTH="100%" HEIGHT=700 FRAMEBORDER=0 SRC="@Model.wbs_link"></IFRAME>

            }
            else
            {
                <div class="alert alert-warning" role="alert">No WBS provided.</div>
            }
        </div>
    </div>
    <div class="project-details">
        <div class="details-section">
            <hr />
            <h4>Project Details</h4>
            <table class="table table-bordered">
                <tbody>

                    <tr>
                        <td>Collab Deck</td>
                        @if (Model.collabDeck != null)
                        {
                            <td><a href="@Model.collabDeck">Collab Deck</a></td>
                        }
                        else
                        {
                            <td class="alert alert-warning" role="alert">No Collab Deck link provided.</td>
                        }
                    </tr>
                    <tr>
                        <td>PSDs</td>
                        @if (Model.PSDs != null)
                        {
                            <td><a href="@Model.PSDs">PSDs</a></td>
                        }
                        else
                        {
                            <td class="alert alert-warning" role="alert">No PSDs link provided.</td>
                        }
                    </tr>

                    <tr>
                        <td>FxF Deck</td>
                        @if (Model.fxfDeck != null)
                        {
                            <td><a href="@Model.fxfDeck">FxF Deck</a></td>
                        }
                        else
                        {
                            <td class="alert alert-warning" role="alert">No FxF Deck link provided.</td>
                        }
                    </tr>

                    <tr>
                        <td>Delivery Folder</td>
                        @if (Model.finalDeliveryFolder != null)
                        {
                            <td><a href="@Model.finalDeliveryFolder">Delivery Folder</a></td>
                        }
                        else
                        {
                            <td class="alert alert-warning" role="alert">No Final Delivery Folder link provided.</td>
                        }
                    </tr>

                    <tr>
                        <td>Description </td>
                        <td>
                            @if (Model.description != null)
                            {
                                <textarea readonly class="form-control">@Html.DisplayFor(model => model.description)
                                
                                
                                </textarea>
                            }
                            else
                            {
                                <textarea readonly class="form-control" role="alert">No Details provided.</textarea>
                            }
                            <span>List of Deliverables:</span>
                            <ul>
                                <li>@Html.DisplayFor(model => model.SelectedSpecs)</li>
                            </ul>

                        </td>
                    </tr>
                </tbody>
            </table>
            <h4>Deliverables Tracker</h4>

            <div id="deliverablesTracker">

                @if (Model.deliverables_tracker_link != null)
                {
                    <IFRAME WIDTH="100%" HEIGHT=700 FRAMEBORDER=0 SRC="@Model.deliverables_tracker_link"></IFRAME>
                }
                else
                {
                    <div class="alert alert-warning" role="alert">
                        No Deliverables Tracker link provided.
                    </div>
                }
            </div>
        </div>

        <div class="wander-section">
            <hr />
            <h4>Wander Internal Notes</h4>
            <table class="table table-bordered">
                <tbody>

                    <tr>
                        <td>Producer</td>

                        <td></td>

                    </tr>
                    <tr>
                        <td>Editor</td>

                        <td></td>

                    </tr>

                    <tr>
                        <td>Path on Studio Server</td>

                        <td></td>


                    </tr>

                    <tr>
                        <td>Contractor Files</td>

                        <td></td>

                    </tr>

                    <tr>
                        <td>Review Links </td>
                        <td>

                            <p><b>Social:</b></p>
                            <p><b>Display:</b></p>
                        </td>
                    </tr>

                    <tr>
                        <td>Art Buyer</td>
                        <td>
                            <p><input type="checkbox" /> Kickoff </p>
                            <p>Audio - </p>
                            <p><input type="checkbox" /> Quoted </p>
                            <p><input type="checkbox" /> Purchased </p>
                            <p>Visual - </p>
                        </td>
                    </tr>
                    <tr>
                        <td>QC Log</td>
                        <td>
                            <p><input type="checkbox" /> Kickoff Meeting</p>
                            <p><input type="checkbox" /> Archived </p>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
    <a asp-action="List" class="btn btn-secondary">
        <i class="bi bi-arrow-bar-left"></i>
        <span>Back to List</span>
    </a>
</div>