@model SmartsheetsPIF.Models.PDSModel

@{
    ViewData["Title"] = "Edit";

}

<div class="row">

    <div class="col-12">
        @*<h1>Edit</h1>*@

        @*@if (Model.projectName != null)

        {
            <h2 class="header-title">PIF - @Html.DisplayFor(m => m.projectName)</h2>
        }
        else
        {
            <h2 class="header-title">PIF</h2>
        }*@
        <h2 class="header-title">PIF - Project Name</h2>

        <hr />
    </div>
</div>


@*@using (Html.BeginForm("Edit", "Display", FormMethod.Post, new { @class = "form-group row" }))
{*@
    <div class="col-12 col-md-6">
        @*@Html.HiddenFor(m => m.pif_Id)*@
        @*<div class="form-group">
                <label asp-for="lob" class="control-label">Line of Business</label>
                @Html.TextBoxFor(m => m.lob, new { @class = "form-control" })
                <span asp-validation-for="lob" class="text-danger"></span>
            </div>*@

     
       
    </div>

    <div class="col-12 col-md-6">

        @*<div class="form-group">
            <label asp-for="deliverables_tracker_link" class="control-label">Deliverables Tracker</label>
            @Html.TextBoxFor(m => m.deliverables_tracker_link, new { @class = "form-control" })
            <span asp-validation-for="deliverables_tracker_link" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="wbs_link" class="control-label">WBS</label>
            @Html.TextBoxFor(m => m.wbs_link, new { @class = "form-control" })
            <span asp-validation-for="wbs_link" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="PSDs" class="control-label">PSDs</label>
            @Html.TextBoxFor(m => m.PSDs, new { @class = "form-control" })
            <span asp-validation-for="PSDs" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="boxFolder" class="control-label">Box Folder</label>
            @Html.TextBoxFor(m => m.boxFolder, new { @class = "form-control" })
            <span asp-validation-for="boxFolder" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="finalDeliveryFolder" class="control-label">Final Delivery Folder</label>
            @Html.TextBoxFor(m => m.finalDeliveryFolder, new { @class = "form-control" })
            <span asp-validation-for="finalDeliveryFolder" class="text-danger"></span>
        </div>

        <div class="row spec-details">
            <div class=" col-sm-12 col-md-4">

                <div class="form-group">
                    <label asp-for="numberOfSets" class="control-label">Nº of Sets</label>
                    @Html.TextBoxFor(m => m.numberOfSets, new { @class = "form-control" })
                    <span asp-validation-for="numberOfSets" class="text-danger"></span>
                </div>
            </div>
            <div class=" col-sm-12 col-md-4">

                <div class="form-group">
                    <label asp-for="animatedPerSet" class="control-label">Animated</label>
                    @Html.TextBoxFor(m => m.animatedPerSet, new { @class = "form-control" })
                    <span asp-validation-for="animatedPerSet" class="text-danger"></span>
                </div>
            </div>
            <div class=" col-sm-12 col-md-4">

                <div class="form-group">
                    <label asp-for="staticPerSet" class="control-label">Static(s)</label>
                    @Html.TextBoxFor(m => m.staticPerSet, new { @class = "form-control" })
                    <span asp-validation-for="staticPerSet" class="text-danger"></span>
                </div>

            </div>
        </div>

        <div class="form-group">
            <label asp-for="Specs" class="control-label">Deliverables</label>
            @Html.TextAreaFor(m => m.Specs, new { @class = "form-control" })
            <span asp-validation-for="Specs" class="text-danger"></span>
        </div>

        <div class="form-group">
            <input type="submit" value="Save" class="btn btn-success float-right" />
        </div>*@
    </div>

@*}*@
<div class="back">
    <a asp-action="List" class="btn btn-secondary">
        <i class="bi bi-arrow-bar-left"></i>
        <span>Back to List</span>
    </a>
</div>

