@model IEnumerable<SmartsheetsPIF.Models.PDSModel>

@{
    ViewData["Title"] = "PDS Pipeline";
}

<div class="row">
    <div class="col-12">
        @{
            if (TempData["Success"] != null)
            {
                <div class="alert alert-success alert-dismissible fade show spacing" role="alert">
                    Your changes have been saved successfully.
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            }
        }
    </div>
</div>

<div class="row">
    <div class="col-12">
        <h2 class="header-title">PDS Pipeline</h2>
        <table class="table table-striped">
            <thead class="pif-list-header">
                <tr>
                    <th>
                        LOB
                    </th>
                    <th>
                        Project
                    </th>
                    <th>
                        Status
                    </th>
                    <th>
                        Type of Work
                    </th>
                    <th>
                        Start
                    </th>
                    <th>
                        Ship
                    </th>

                    <th>
                        Actions
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.lob)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.projectName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.status)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.typeOfWork)
                        </td>

                        <td id="startDate">@Html.DisplayFor(modelItem => item.startDate)</td>
                        <td id="endDate">@Html.DisplayFor(modelItem => item.endDate)</td>

                        <td class="action-buttons">

                            <a href="@Url.Action("Edit", "PDS",new { id = item.pif_Id } )" class="btn btn-warning">
                                <i class="bi bi-pencil-fill"></i>
                            </a>

                            <a href="@Url.Action("Details", "PDS",new { id = item.pif_Id } )" class="btn btn-primary">
                                <i class="bi bi-card-list"></i>
                            </a>
                        </td>
                    </tr>
                }


            </tbody>
        </table>
    </div>
</div>
