@model SmartsheetsPIF.Models.PIFModel

@{
    ViewData["Title"] = "Project Details";
}

    <div class="row">
        <div class="col-12">
            <h1 class="edit-header">

                @Html.DisplayFor(model => model.projectName) Details
            </h1>
        </div>

    </div>
    <div class="row" style="margin: auto">
        <div class="col-12 col-md-6 ">
            <div class="row">
                <dt class="col-sm-3">
                    Project
                </dt>

                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.projectName)
                </dd>
            </div>
            <div class="row">
                <dt class="col-sm-3">
                    LOB
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.lob)
                </dd>
            </div>
            <div class="row">

                <dt class="col-sm-3">
                    Tenrox
                </dt>

                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.tenroxCode)
                </dd>
            </div>
            <div class="row">
                <dt class="col-sm-3">
                    Timing
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.startDate) -

                    @Html.DisplayFor(model => model.endDate)
                </dd>
            </div>

        </div>

        <div class=" col-12 col-md-6 ">
            <div class="row">
                <dt class="col-sm-3">
                    PM
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.producer)
                </dd>
            </div>

            <div class="row">
                <dt class="col-sm-3">
                    Status
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.status)
                </dd>
            </div>

            <div class="row">

                <dt class="col-sm-3">
                    Team
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.team)
                <dd>
            </div>

        </div>

        <div class="wbs-section">
            <hr />

            <h4>WBS</h4>

            <IFRAME WIDTH=100% HEIGHT=700 FRAMEBORDER=0 SRC="https://app.smartsheet.com/b/publish?EQBCT=71a4c4c580f44b5fa4f18569a4ba7796"></IFRAME>
        </div>



        <div class="project-details">
            

            <div class="details-section">
                <hr />
                <h4>
                    Project Details
                </h4>


                <table class="table table-bordered">

                    <tbody>
                        <tr>
                            <td>Collab Deck</td>
                            <td>
                                <a href="@Model.collabDeck">@Model.collabDeck</a>
                            </td>
                        </tr>

                        <tr>
                            <td>PSDs</td>
                            <td>
                                <a href="@Model.photoShop">@Model.photoShop</a>
                            </td>
                        </tr>

                        <tr>
                            <td>FxF Deck</td>
                            <td>
                                <a href="@Model.fxfDeck">@Model.fxfDeck</a>
                            </td>
                        </tr>
                        <tr>
                            <td>Deliverables</td>
                            <td>
                                <textarea readonly class="form-control">@Html.DisplayFor(model => model.deliverables)</textarea>
                            </td>
                        </tr>
                        <tr>
                            <td>Final Deck</td>
                            <td>
                                <a href="@Model.collabDeck">@Model.finalDeck</a>
                            </td>
                        </tr>
                        <tr>
                            <td>Deliverables tracker</td>
                            <td>
                                <button onclick="showTracker()" class="deliverables-tracker">Deliverables Tracker</button>
                                <IFRAME id="show-tracker" WIDTH=100% HEIGHT=700 FRAMEBORDER=0 SRC="https://app.smartsheet.com/b/publish?EQBCT=94d7ff84ead7450ab6575c6991103740"></IFRAME>
                            </td>
                        </tr>
                    </tbody>
                </table>


            </div>

            <div class="producer-section">

                <hr />
                <h4> Stock Asset Libary & Tracking</h4>

                <table class="table table-bordered table-fixed">

                    <tbody class="assets">
                        <tr>
                            <td>Audio Assets:</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Visual Assets:</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Client Supplied:</td>
                            <td></td>
                    </tbody>
                </table>

                <h4>Delivery:</h4>

                <table class="table table-bordered table-fixed">

                    <tbody class="table-split">
                        <tr>
                            <td>Contracts + Licences:</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Final Deliverbales File Location:</td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>




            </div>


            <div class="wander-section">
                <hr />
                <h4>
                    Wander Internal Notes
                </h4>
                <p>To be compeleted by Wander</p>
                <table class="table table-bordered">

                    <tbody class="wander">
                        <tr>
                            <td>Producer:</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Editor:</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Path On Studio Server:</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Contractor Files:</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Review Links:</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Change Log</td>
                            <td class="producer-data">
                                <p><input type="checkbox" />Kickoff</p>
                                <p>
                                    Audio:<br />
                                    <input type="checkbox" />Quoted <br />
                                    <input type="checkbox" />License<br />
                                </p>
                                <p>
                                    Visual:<br />
                                    <input type="checkbox" />Quoted<br />
                                    <input type="checkbox" />License<br />
                                </p>
                                <p>
                                    Lincenses(link):
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td>QC Log</td>
                            <td><p><input type="checkbox" />Kickoff <br />
                                <input type="checkbox" />QC Check</p></td>
                        </tr>
                    </tbody>
                </table>

            </div>



        </div>


     


        <div class="back">
            @*@Html.ActionLink("Edit", "Edit", new { id = Model.pif_Id }) |*@
            @*<a class="back-button" asp-action="ListPIFs">Back to List</a>*@
            <button class="btn btn-secondary" onclick="window.location.href='/PIF/ListPIFs'">Back to List</button>
        </div>
    </div>