@model IEnumerable<SmartsheetsPIF.Models.PIFModel>

@{
    ViewData["Title"] = "PIFs for AT&T";
  }

<h1>List of PIFs</h1>

@*<p>
    <a asp-action="Create">Create New</a>
</p>*@
<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th>
                @*@Html.DisplayNameFor(model => model.lob)*@
                LOB
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.projectName)*@
                Project Name
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.status)*@
                Status
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.startDate)*@
                Start Date
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.endDate)*@
                End Date
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.team)*@
                Team
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.pifLink)*@
                PIF
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.lob)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.projectName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.startDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.endDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.team)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.pifLink)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.pif_Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.pif_Id })
                @*@Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })*@
            </td>
        </tr>
}
    </tbody>
</table>
