@model Smartsheetsproject.Models.DesignModel

@{
    ViewData["Title"] = "Design Details";
}

<div class="row">
    <div class="col-12">
        <h2 class="header-title">@Html.DisplayFor(model => model.projectName) Details</h2>
        <hr />

    </div>
</div>
<div class="row" style="margin: auto">
    <div class="col-12 col-md-6 details">
        <div class="row">
            <dt class="col-sm-3">Project</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.projectName)</dd>
        </div>
        <div class="row">
            <dt class="col-sm-3">LOB</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.lob)</dd>
        </div>
        <div class="row">
            <dt class="col-sm-3">Tenrox</dt>
            @if (Model.tenrox != null)
            {
                <dd class="col-sm-9">@Html.DisplayFor(model => model.tenrox)</dd>
            }
            else
            {
                <dd class="alert alert-warning" role="alert">No Tenrox Code Provided.</dd>
            }
        </div>
        <div class="row">
            <dt class="col-sm-3">Status</dt>


            @if (Model.status != null)
            {
                <dd class="col-sm-9">@Html.DisplayFor(model => model.status)</dd>
            }
            else
            {
                <dd class="alert alert-warning" role="alert">Status unavailable</dd>
            }

        </div>



    </div>

    <div class="col-12 col-md-6 details">

        <div class="row">
            <dt class="col-sm-3">Timing</dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.startDate) -
                @Html.DisplayFor(model => model.dueDate)
            </dd>
        </div>
        <div class="row">
            <dt class="col-sm-3">Designer</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.assignedTo)</dd>
        </div>
        @*<div class="col-12 col-md-6 details-col-2">
            <div class="row">
                <dt class="col-sm-3">PM</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.pm)</dd>
            </div>

        *@

    </div>
    <div class="wbs-section">

        <hr />
        <div class="wbs">
            <h4>WBS</h4> <button class="wbs-expand">Expand +</button>

        </div>
        <div class="wbs-content">
            @if (Model.wbs != null)
            {
                <IFRAME WIDTH="100%" HEIGHT=500 FRAMEBORDER=0 SRC="@Model.wbs"></IFRAME>

            }
            else
            {
                <div class="alert alert-warning" role="alert">Sorry, No WBS link provided.</div>
            }
        </div>
    </div>



    <hr />


    <div class="figma-section">

        <hr />

        <div class="figma">
            <h4>Figma</h4> &nbsp; <button class="figma-expand">Expand +</button>
        </div>

        <div class="figma-content">
            @if (Model.box != null)
            {
                <iframe style="border: 1px solid rgba(0, 0, 0, 0.1);" width="100%" height="500" src="@Model.figma" allowfullscreen></iframe>
            }
            else
            {
                <div class="alert alert-warning" role="alert">Sorry, No Figma link provided.</div>
            }
        </div>

    </div>


    <div class="box-section">

        <hr />

        <div class="box">
            <h4>Box</h4> &nbsp; <button class="box-expand">Expand +</button>
        </div>

        <div class="box-content">
            @if (Model.box != null)
            {
                    <iframe src="@Model.box" width="100%" height="500" frameborder="0" allowfullscreen webkitallowfullscreen msallowfullscreen></iframe>

            }
            else
            {
                <div class="alert alert-warning" role="alert">Sorry, No Box link provided.</div>
            }
        </div>


    </div>

</div>






    <div class="col-12">
    </div>

    <hr />

    <div class="col-12 col-md-6 details">

        <div class="row">
            <a asp-action="List" class="btn back">
                <i class="bi bi-arrow-bar-left"></i>
                <span>Back to List</span>
            </a>
        </div>
    </div>


</div>