@model IEnumerable<Smartsheetsproject.Models.DesignModel>

@{
    ViewData["Title"] = "Design Production";
}

<div class="row">

   
    <div class="col-12">
        @{
            if (TempData["Result"] != null)
            {
                if (TempData["Result"].Equals("Success"))
                {
                    <div class="alert alert-success alert-dismissible fade show spacing" role="alert">
                        Your changes have been saved successfully.
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                }
                else if (TempData["Result"].Equals("Failed"))
                {
                    <div class="alert alert-warning alert-dismissible fade show spacing" role="alert">
                        Oh Snap! An error has ocurred, please try again.
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                }
            }
        }

    </div>
</div>

<div class="row">
    <div class="col-12">
        <h2 class="header-title">Design Production Pipeline(Stage 2)</h2>
        <table class="table table-striped">
            <table class="table table-striped">
                <thead class="project-list-header">
                    <tr>
                        <th class="project-col">
                            Project
                        </th>

                        <th id="type">
                            LOB
                        </th>
                        <th id="client-group">
                            Tenrox
                        </th>

                        <th id="status">
                            Status
                        </th>

                        <th>
                            Edit
                        </th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var data in Model)
                    {
                    <tr>
                        <td class="project-col">
                            <a class="clickable-row" href="@Url.Action("Details", "Design", new { id = data.pipelineId  } )">
                                @Html.DisplayFor(modelItem => data.projectName)
                            </a>
                        </td>

                        <td id="client-group">
                            @Html.DisplayFor(modelItem => data.lob)
                        </td>

                        <td id="type">
                            @Html.DisplayFor(modelItem => data.tenrox)
                        </td>
                        <td id="status">
                            @Html.DisplayFor(modelItem => data.status)
                        </td>

                        <td>
                            <a href="@Url.Action("Edit", "Design",new { id = data.pipelineId } )">
                                edit
                            </a>
                        </td>

                    </tr>
                    }

                </tbody>



            </table>
    </div>
</div>