@model Smartsheetsproject.Models.TechModel

@{
    ViewData["Title"] = "Project Details";
}

<div class="row">
    <div class="col-12">
        <h2 class="header-title">@Html.DisplayFor(model => model.projectName) Details</h2>
        <hr />

    </div>
</div>
    <div class="row" style="margin: auto">
        <div class="col-12 col-md-6 details">
            <div class="row">
                <dt class="col-sm-3">Project</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.projectName)</dd>
            </div>
            <div class="row">
                <dt class="col-sm-3">LOB</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.lob)</dd>
            </div>
            <div class="row">
                <dt class="col-sm-3">Tenrox</dt>
                @if (Model.tenrox != null)
                {
                    <dd class="col-sm-9">@Html.DisplayFor(model => model.tenrox)</dd>
                }
                else
                {
                    <dd class="alert alert-warning" role="alert">No Tenrox Code Provided.</dd>
                }
            </div>
            <div class="row">
                <dt class="col-sm-3">Timing</dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.startDate) -
                    @Html.DisplayFor(model => model.dueDate)
                </dd>
            </div>
        </div>
        <div class="col-12 col-md-6 details-col-2">
            <div class="row">
                <dt class="col-sm-3">PM</dt>

                <dd class="col-sm-9">@Html.DisplayFor(model => model.pm)</dd>
            </div>

            <div class="row">
                <dt class="col-sm-3">AM</dt>

                <dd class="col-sm-9">@Html.DisplayFor(model => model.am)</dd>
            </div>
            <div class="row">
                <dt class="col-sm-3">Status</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.status)</dd>
            </div>

        </div>
        <div class="wbs-section">
            <hr />
            <h4>WBS</h4>
            <div class="wbs">
                @if (Model.wbs != null)
                {
                    <IFRAME WIDTH="100%" HEIGHT=700 FRAMEBORDER=0 SRC="@Model.wbs"></IFRAME>
                }
                else
                {
                    <div class="alert alert-warning" role="alert">No WBS provided.</div>
                }
            </div>
        </div>
        <div class="project-details">
            <div class="details-section">
                <hr />
                <h4>Project Details</h4>
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <td>FxF</td>
                            @if (Model.FxF != null)
                            {
                                <td><a href="@Model.FxF">FxF Deck</a></td>
                            }
                            else
                            {
                                <td class="alert alert-warning" role="alert">No FxF link provided.</td>
                            }
                        </tr>

                        <tr>
                            <td>PSDs</td>
                            @if (Model.PSDs != null)
                            {
                                <td><a href="@Model.PSDs">PSDs</a></td>
                            }
                            else
                            {
                                <td class="alert alert-warning" role="alert">No PSDs link provided.</td>
                            }
                        </tr>

                        <tr>
                            <td>Box Folder</td>
                            @if (Model.box != null)
                            {
                                <td><a href="@Model.box">Box Link</a></td>                            }
                            else
                            {
                                <td class="alert alert-warning" role="alert">No Box Folder link provided.</td>
                            }
                        </tr>

                        <tr>
                            @*<td>Deliverables </td>
                            <td>
                                @if (Model.numberOfSets != null)
                                {
                                    <span class="sets">Number of Sets: </span> @Html.DisplayFor(model => model.numberOfSets)<br />
                                }
                                @if (Model.animatedPerSet != null)
                                {
                                    <span class="sets">Animated per Set:</span> @Html.DisplayFor(model => model.animatedPerSet)<br />
                                }

                                @if (Model.staticPerSet != null)
                                {
                                    <span class="sets">Static per Set:</span> @Html.DisplayFor(model => model.staticPerSet) <br />
                                }
                                @if (Model.description != null)
                                {
                                    <textarea readonly class="form-control">@Html.DisplayFor(model => model.description)</textarea>
                                }
                                else
                                {
                                    <textarea readonly class="form-control" role="alert">No Details provided.</textarea>
                                }
                            </td>*@
                        </tr>

                        <tr>
                            <dl class="row">
                                <dt class="col-sm-3">Specs</dt>
                                <dd class="col-sm-9 specs">
                                    @Html.DisplayFor(model => model.specs_list)
                                </dd>
                            </dl>

                        </tr>
                    </tbody>
                </table>
               
                
            </div>
        </div>
        <a asp-action="List" class="btn btn-secondary">
            <i class="bi bi-arrow-bar-left"></i>
            <span>Back to List</span>
        </a>
    </div>